
body{

    background-image: url("projectimages/regPage.jpg");
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: right;
    
}
.header{

    display: flex;
    margin-left: 100px;
        justify-content: space-between;
        margin-right: 40em;
        color:#AB0010;

}
.details{

    align-items: center;
}

label{
display: block;
flex-direction: row;
justify-content:flex-start;
font-weight: 300;
text-align: left;
width: 150px;
line-height: 26px;
margin-bottom: 10px;
margin-left: 150px;
cursor: none;



}
input{

    height: 20px;
    flex: 0 0 15px;
    margin-left:150px ;
        width: 300px;
        border: solid;
        border-radius: 20px;
}

button{
    margin-left: 150px;
    color: black ;
    background-color:white;
    font-size: 15px;
    padding: 5px 3px;
    border-radius: 20px;
    
   
}


